<footer class="container-fluid py-5">
    <div class="container">
      <div class="row">
        <section class="col-sm-5">
          <h4>SHOP.</h4>
          <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
        </section>
  
        <section class="col-sm-2 offset-sm-1">
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">Help</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Terms</a></li>
              <li><a href="">Meetups</a></li>
            </ul>
          </section>
          
          <section class="col-sm-2">
            <ul>
              <li><a href="">Shop</a></li>
              <li><a href="">Privacy</a></li>
              <li><a href="">Testimonials</a></li>
              <li><a href="">Handbook</a></li>
              <li><a href="">Held Desk</a></li>
            </ul>
          </section>  
  
          <section class="col-sm-2 mb-5">
            <ul>
              <li><a href="">Find Designers</a></li>
              <li><a href="">Find Developers</a></li>
              <li><a href="">Teams</a></li>
              <li><a href="">Advertise</a></li>
              <li><a href="">API</a></li>
            </ul>
          </section>
  
          <section class="col-12  text-center">
            <p class="mb-0">© 2018 Free HTML5. All Rights Reserved.</p>
            <p>Designed by <span> FreeHTML5.co</span> Demo Images: <span>Gessato</span>  & <span>Unsplash</span> </p>
            <i class="fab fa-twitter "></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-dribbble"></i>
  
          </section>
      </div>
    </div>
  </footer>