
<div class="container">
  <section class="sec1">
    <div class="row">
      <div class="col-12 col-md-6 text-col"> 
        <div class="content1">
            <h4> {{aboutUsData.head1}} </h4>
            <p> {{aboutUsData.paragraph1}} </p>
            <p> {{aboutUsData.paragraph2}} </p>
        </div>
        <div>
            <h4> {{aboutUsData.head2}} </h4>
            <p> {{aboutUsData.paragraph3}} </p>
            <p> {{aboutUsData.paragraph4}} </p>
        </div>       
      </div>
      <div class="col-12 col-md-6 img-col">
        <div class="col-border">
            <img src={{aboutUsData.pic1}}>
        </div>       
      </div>
    </div>
  </section>
  <section class="text-center sec2">
    <h6>{{aboutUsData.head3}}</h6>
    <h4>{{aboutUsData.head4}}</h4>
    <p class="par">{{aboutUsData.paragraph5}}</p>
    <div class="row">
      <div class="col-12 col-md-4">
        <img src={{aboutUsData.pic2}}>
        <h5>{{aboutUsData.head5}}</h5>
        <span>{{aboutUsData.span1}}</span>  
        <p>{{aboutUsData.paragraph6}}</p>
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-dribbble"></i>
        <i class="fa fa-github-alt"></i>
      </div>
      <div class="col-12 col-md-4">
          <img src={{aboutUsData.pic3}}>
          <h5>{{aboutUsData.head6}}</h5>
          <span>{{aboutUsData.span2}}</span>  
          <p>{{aboutUsData.paragraph6}}</p>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-dribbble"></i>
          <i class="fa fa-github-alt"></i>
      </div>
      <div class="col-12 col-md-4">
          <img src={{aboutUsData.pic4}}>
          <h5>{{aboutUsData.head7}}</h5>
          <span>{{aboutUsData.span2}}</span>  
          <p>{{aboutUsData.paragraph6}}</p>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-dribbble"></i>
          <i class="fa fa-github-alt"></i>
      </div>
    </div>
  </section>
</div>

