<section class="HAPPYCLIENTS">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 text-center mt-5 py-5">
              <p>TESTIMONY</p>
              <h3 class="mb-5">HAPPY CLIENTS</h3>
              <div class="pt-5">
                <img [src]="imagePath" class="rounded-circle">
              </div>
            </div>
            <div class="col-sm-6 offset-sm-3 mb-5 text-center">
              <h4>JOHN DOE , VIA TWITTER</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere architecto velit ex 
                nihil consectetur ratione natus, ipsam vitae saepe earum et dolore a dolorum aut tempora
                 totam ea nisi excepturi.</p>
            </div>
        </div>
    </div>
  </section>
  
  
  <section class="Statistic">
    <div class="container">
      <div class="row">
          <div class="col-sm-3 my-5 py-5">
            <div  class="py-5">
              <section>
                <i class="fas fa-eye fa-2x mb-2 rounded-circle"></i>
              </section>
              <h4>{{CREATIVITY}}</h4>
              <p>CREATIVITY FUEL</p>
            </div>
          </div>
          <div class="col-sm-3  my-5  py-5">
            <div class="py-5">
              <section>
                  <i class="fas fa-shopping-cart fa-2x mb-2 rounded-circle"></i>
              </section>  
                <h4>{{CLIENTS}}</h4>
                <p>HAPPY CLIENTS</p>
            </div>
          </div>
          <div class="col-sm-3 my-5 py-5">
            <div class="py-5">            
              <section>
                  <i class="fab fa-product-hunt fa-2x mb-2 rounded-circle"></i>
              </section>
              <h4>{{PRODUCTS}}</h4>
              <p>ALL PRODUCTS</p></div>
          </div>
          <div class="col-sm-3  my-5 py-5">
            <div class="py-5">
              <section>
                  <i class="fas fa-clock fa-2x mb-2 rounded-circle"></i>
              </section>
                <h4>{{HOURS}}</h4>
                <p>HOURS SPENT</p>
            </div>
          </div>
        </div>
    </div>
  </section>
  
  <section class="newsletter container-fluid py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-12 text-center py-5">
           <h3>NEWSLETTER</h3> 
            <p>
                Just stay tune for our latest Product. Now you can subscribe
            </p>
        </div>
        <div class="col-sm-4 offset-sm-2 py-5">
          <input type="text" class="px-3"  placeholder="Email" aria-describedby="basic-addon3">
        </div>
        <div class="col-sm-4 py-5">
          <button type="submit">subscribe</button>
        </div>
      </div>
    </div>
  </section>