<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <!-- Start Cards Section -->
  <section class="cards py-5">
    <div class="container py-4">
      <div class="row text-center py-5">
        <div class="col-md-4 col-sm-6 py-3">
            <div class="text-center ">
                <div class="d-flex align-items-center justify-content-center img_card m-auto">
                  <i class="fa fa-credit-card"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">SAVE MONEY</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn_custom rounded-0">Learn More</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 py-3">
            <div class="text-center ">
                <div class="d-flex align-items-center justify-content-center img_card m-auto">
                  <i class="fa fa-ambulance"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">CREDIT CARD</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn_custom rounded-0">Learn More</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 py-3">
            <div class="text-center ">
                <div class="d-flex align-items-center justify-content-center img_card m-auto">
                  <i class="fa fa-paper-plane"></i>
                </div>
                <div class="card-body">
                  <h5 class="card-title">FREE DELIVERY</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary btn_custom rounded-0">Learn More</a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Cards Section -->
  
  <!-- Start Product Section -->
  <section class="product py-5">
    <div class="container">
      <div class="heading text-center py-5">
        <span class="text-muted">Cool Stuff</span>
        <h3>PRODUCTS</h3>
        <P class="w-75 m-auto">
          Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
        </P>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 text-center py-4 box">
          <div class="box_img">
            <div class="inner">
            </div>
          </div>
          <h5 class="pt-3">HAUTEVILLE CONCRETE ROCKING CHAIR</h5>
          <span class="text-muted">$350</span>
        </div>
        <div class="col-md-4 col-sm-6 text-center py-4 box">
          <div class="box_img">
            <div class="inner">
            </div>
          </div>
          <h5 class="pt-3">HAUTEVILLE CONCRETE ROCKING CHAIR</h5>
          <span class="text-muted">$350</span>
        </div>
        <div class="col-md-4 col-sm-6 text-center py-4 box">
          <div class="box_img">
            <div class="inner">
            </div>
          </div>
          <h5 class="pt-3">HAUTEVILLE CONCRETE ROCKING CHAIR</h5>
          <span class="text-muted">$350</span>
        </div>
        <div class="col-md-4 col-sm-6 text-center py-4 box">
          <div class="box_img">
            <div class="inner">
            </div>
          </div>
          <h5 class="pt-3">HAUTEVILLE CONCRETE ROCKING CHAIR</h5>
          <span class="text-muted">$350</span>
        </div>
        <div class="col-md-4 col-sm-6 text-center py-4 box">
          <div class="box_img">
            <div class="inner">
            </div>
          </div>
          <h5 class="pt-3">HAUTEVILLE CONCRETE ROCKING CHAIR</h5>
          <span class="text-muted">$350</span>
        </div>
        <div class="col-md-4 col-sm-6 text-center py-4 box">
          <div class="box_img">
            <div class="inner">
            </div>
          </div>
          <h5 class="pt-3">HAUTEVILLE CONCRETE ROCKING CHAIR</h5>
          <span class="text-muted">$350</span>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Product Section -->
</body>
</html>
<app-happyclients></app-happyclients>